<!DOCTYPE html>
<html>
  <head>
    <title><%= status.code %> - Flight School</title>
  </head>
  <body>
    <h1><%= status.name %></h1>

    <dl>
      <dt>Code</dt>
      <dd><%= status.code %></dd>

      <dt>City</dt>
      <dd><%= status.city %></dd>

      <dt>Weather</dt>
      <dd><%= status.weather %></dd>
    </dl>
  </body>
</html>
